//This is a toolbox by Nekå

/*Font effect*/
.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}


/*Position effect*/
.center {
  display: flex;
  justify-content: center;
}
